<!-- top-header -->
<style>
    .img-format {
        height: 170px;
        width: 150px;
    }

    .a1 {
        text-decoration: none;
        font-size: 120%;
        font-weight: bold;
    }

    ;

    .vertical-menu {
        width: 200px;
        /* Set a width if you like */
    }

    .vertical-menu a {
        background-color: #eee;
        /* Grey background color */
        color: black;
        /* Black text color */
        display: block;
        /* Make the links appear below each other */
        padding: 12px;
        /* Add some padding */
        text-decoration: none;
        /* Remove underline from links */
    }

    .vertical-menu a:hover {
        background-color: #ccc;
        /* Dark grey background on mouse-over */
    }

    .vertical-menu a.active {
        background-color: orangered;
        /* Add a green color to the "active/current" link */
        color: white;
    }
</style>
<section style="margin-left: -4.4%;" class="wrapper scrollable">
    <app-header></app-header>

    <div class="page-head_agile_info_w3l">

    </div>
    <!-- //banner-2 -->
    <!-- page -->
    <div class="services-breadcrumb">
        <div class="agile_inner_breadcrumb">
            <div class="container">
                <ul class="w3_short">
                    <li>
                        <a>Home</a>
                        <i>|</i>
                    </li>
                    <li>Kiến thức về gốm</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //page -->
    <!-- about page -->
    <!-- welcome -->
    <div class="welcome">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="vertical-menu">
                        <a class="active">+ Kiến thức về gốm</a>
                        <a [routerLink]="['/knowleage-ceramics-client']" routerLinkActive="router-link-active">- Kiến thức gốm sứ vẽ vàng</a>
                        <a [routerLink]="['/knowleage-ceramics-client']" routerLinkActive="router-link-active">- Kiến thức trang sứ</a>
                        <a [routerLink]="['/knowleage-ceramics-client']" routerLinkActive="router-link-active">- Kiến thức lộc bình</a>
                        <a [routerLink]="['/knowleage-ceramics-client']" routerLinkActive="router-link-active">- Kiến thức tượng phong thủy</a>
                        <a [routerLink]="['/knowleage-ceramics-client']" routerLinkActive="router-link-active">- Kiến thức tranh ghép gốm, sứ</a>
                        <a [routerLink]="['/knowleage-ceramics-client']" routerLinkActive="router-link-active">- Kiến thức gốm quà tặng</a>
                        <a [routerLink]="['/knowleage-ceramics-client']" routerLinkActive="router-link-active">- Kiến thức bình hút lộc</a>
                        <a [routerLink]="['/knowleage-ceramics-client']" routerLinkActive="router-link-active">- Kiến thức đồ thờ cúng</a>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div *ngFor="let item of blog | paginate: { itemsPerPage: 6, currentPage: p }">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="welcome-img">
                                    <img src="../assets/Client/blogimage/{{item.image}}" alt="" style="height:200px; width: 300px;">
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <p><a class="a1">{{item.title}}</a>
                                <p>{{item.description}}</p>
                                <p><a [routerLink]="['/blog-detail',item.id]" routerLinkActive="router-link-active">Xem chi tiết >>></a></p>
                            </div>
                        </div><br />
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div style="text-align: center;" class="col-md-4">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //welcome -->

    <!-- newsletter -->
    <app-newsletter></app-newsletter>
    <!-- //newsletter -->
    <!-- footer -->
    <app-footer></app-footer>
</section>
<!-- //copyright -->

<!-- js-files -->
<!-- jquery -->
<!-- <script src="../assets/Client/js/jquery-2.1.4.min.js"></script> -->
<!-- //jquery -->

<!-- popup modal (for signin & signup)-->
<!-- <script src="js/jquery.magnific-popup.js"></script> -->
<!-- <script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

    });
</script> -->
<!-- Large modal -->
<!-- <script>
    $('#').modal('show');
</script> -->
<!-- //popup modal (for signin & signup)-->

<!-- cart-js -->
<script src="./assets/Client/js/minicart.js"></script>
<script>
    paypalm.minicartk.render(); //use only unique class names other than paypalm.minicartk.Also Replace same class name in css and minicart.min.js

    paypalm.minicartk.cart.on('checkout', function (evt) {
        var items = this.items(),
            len = items.length,
            total = 0,
            i;

        // Count the number of each item in the cart
        for (i = 0; i < len; i++) {
            total += items[i].get('quantity');
        }

        if (total < 3) {
            alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
            evt.preventDefault();
        }
    });
</script>
<!-- //cart-js -->

<!-- price range (top products) -->
<!-- <script src="js/jquery-ui.js"></script> -->
<!-- <script>
    $(window).load(function () {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 9000,
            values: [50, 6000],
            slide: function (event, ui) {
                $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
            }
        });
        $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

    }); 
</script> -->
<!-- //price range (top products) -->

<!-- flexisel (for special offers) -->
<!-- <script src="js/jquery.flexisel.js"></script>
<script>
    $(window).load(function () {
        $("#flexiselDemo1").flexisel({
            visibleItems: 3,
            animationSpeed: 1000,
            autoPlay: true,
            autoPlaySpeed: 3000,
            pauseOnHover: true,
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
                portrait: {
                    changePoint: 480,
                    visibleItems: 1
                },
                landscape: {
                    changePoint: 640,
                    visibleItems: 2
                },
                tablet: {
                    changePoint: 768,
                    visibleItems: 2
                }
            }
        });

    });
</script> -->
<!-- //flexisel (for special offers) -->

<!-- password-script -->
<!-- <script>
    window.onload = function () {
        document.getElementById("password1").onchange = validatePassword;
        document.getElementById("password2").onchange = validatePassword;
    }

    function validatePassword() {
        var pass2 = document.getElementById("password2").value;
        var pass1 = document.getElementById("password1").value;
        if (pass1 != pass2)
            document.getElementById("password2").setCustomValidity("Passwords Don't Match");
        else
            document.getElementById("password2").setCustomValidity('');
        //empty string means no validation error
    }
</script> -->
<!-- //password-script -->

<!-- smoothscroll -->
<!-- <script src="js/SmoothScroll.min.js"></script> -->
<!-- //smoothscroll -->

<!-- start-smooth-scrolling -->
<!-- <script src="js/move-top.js"></script>
<script src="js/easing.js"></script>
<script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();

            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });
</script> -->
<!-- //end-smooth-scrolling -->

<!-- smooth-scrolling-of-move-up -->
<!-- <script>
    $(document).ready(function () {
       
        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
</script> -->
<!-- //smooth-scrolling-of-move-up -->

<!-- for bootstrap working -->
<!-- <script src="js/bootstrap.js"></script> -->
<!-- //for bootstrap working -->
<!-- //js-files -->

<!-- top-header -->