<div class="footer-top">
    <div class="container-fluid">
        <div class="col-xs-8 agile-leftmk">
            <h2>Nhận sản phẩm tại cửa hàng của chúng tôi</h2>
            <p>Giao hàng miễn phí cho đơn hàng đầu tiên của bạn!</p>
            <form action="#" method="post">
                <input type="email" placeholder="E-mail" name="email" required="">
                <input type="submit" value="Subscribe">
            </form>
            <div class="newsform-w3l">
                <span class="fa fa-envelope-o" aria-hidden="true"></span>
            </div>
        </div>
        <div class="col-xs-4 w3l-rightmk">
            <img src="../assets/Client/images/tab3.png" alt=" ">
        </div>
        <div class="clearfix"></div>
    </div>
</div>