<footer>
    <div class="container">
        <!-- footer second section -->
        <div class="w3l-grids-footer">
            <div class="col-xs-4 offer-footer">
                <div class="col-xs-4 icon-fot">
                    <span class="fa fa-map-marker" aria-hidden="true"></span>
                </div>
                <div class="col-xs-8 text-form-footer">
                    <h3>Theo dõi đơn hàng</h3>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-xs-4 offer-footer">
                <div class="col-xs-4 icon-fot">
                    <span class="fa fa-refresh" aria-hidden="true"></span>
                </div>
                <div class="col-xs-8 text-form-footer">
                    <h3>Trả hàng miễn phí và dễ dàng</h3>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-xs-4 offer-footer">
                <div class="col-xs-4 icon-fot">
                    <span class="fa fa-times" aria-hidden="true"></span>
                </div>
                <div class="col-xs-8 text-form-footer">
                    <h3>Hủy đơn hàng trực tuyến</h3>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- //footer second section -->
        <!-- footer third section -->
        <div class="footer-info w3-agileits-info">
            <!-- footer categories -->
            <div class="col-sm-5 address-right">
                <div class="col-xs-6 footer-grids">
                    <h3>Danh mục</h3>
                    <ul>
                        <li>
                            <a href="product.html">Gốm gia dụng</a>
                        </li>
                        <li>
                            <a href="product.html">Gốm trang trí</a>
                        </li>
                        <li>
                            <a href="product.html">Gốm phong thủy</a>
                        </li>
                        <li>
                            <a href="product2.html">Quà tặng gốm</a>
                        </li>
                        <li>
                            <a href="product.html">Tranh gốm tứ quý</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-6 footer-grids agile-secomk">
                    <ul>
                        <li>
                            <a href="product.html">Tượng gốm sứ</a>
                        </li>
                        <li>
                            <a href="product.html">Đồ thờ bằng gốm</a>
                        </li>
                        <li>
                            <a href="product.html">Đồ lưu niệm</a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- //footer categories -->
            <!-- quick links -->
            <div class="col-sm-5 address-right">
                <div class="col-xs-6 footer-grids">
                    <h3>Thông tin</h3>
                    <ul>
                        <li>
                            <a [routerLink]="['/introduction-client']" routerLinkActive="router-link-active">Giới thiệu</a>
                        </li>
                        <li>
                            <a [routerLink]="['/services-client']" routerLinkActive="router-link-active">Dịch vụ</a>
                        </li>
                        <li>
                            <a [routerLink]="['/contact-client']" routerLinkActive="router-link-active">Liên hệ</a>
                        </li>
                        <li>
                            <a [routerLink]="['/client-blog']" routerLinkActive="router-link-active">Blog</a>
                        </li>
                        <li>
                            <a [routerLink]="['/knowleage-ceramics-client']" routerLinkActive="router-link-active">Kiến thức gốm</a>
                        </li>
                        
                    </ul>
                </div>
                <div class="col-xs-6 footer-grids">
                    <h3>Liên lạc</h3>
                    <ul>
                        <li>
                            <i class="fa fa-map-marker"></i> Làng nghề gốm Bát Tràng, Gia Lâm, Hà Nội, Việt Nam.
                        </li>
                        <li>
                            <i class="fa fa-mobile"></i> 0321 3523 987
                        </li>
                        <li>
                            <i class="fa fa-phone"></i> 0987 654 321
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>
                            <a href="mailto:example@mail.com"> tinhhoagomviet@gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- //quick links -->
            <!-- social icons -->
            <div class="col-sm-2 footer-grids  w3l-socialmk">
                <h3>Theo dõi chúng tôi</h3>
                <div class="social">
                    <ul>
                        <li>
                            <a class="icon fb" href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a class="icon tw" href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a class="icon gp" href="#">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- //social icons -->
            <div class="clearfix"></div>
        </div>
        <!-- //footer third section -->
        <!-- footer fourth section (text) -->
        <div class="agile-sometext">
            <div class="sub-some">
                <h5>Mua hàng trực tuyến</h5>
                <p>Đặt hàng trực tuyến. Tất cả các sản phẩm yêu thích của bạn từ cửa hàng của chúng tôi để giao hàng tận nhà.</p>
            </div>
            <div class="sub-some">
                <h5>Mua hàng trực tuyến với các ưu đãi và ưu đãi tốt nhất</h5>
                <p>Quý khách có thể được giảm giá tới 20% cho các sản phẩm gốm. Phạm vi bao gồm các sản phẩm gốm gia dụng, gốm trang trí, gốm phong thủy, gốm lưu niệm,... </p>
            </div>
            <!-- payment -->
            <div class="sub-some child-momu">
                <h5>Phương thức thanh toán</h5>
                <ul>
                    <li>
                        <img src="../assets/Client/images/pay2.png" alt="">
                    </li>
                    <li>
                        <img src="../assets/Client/images/pay5.png" alt="">
                    </li>
                    <li>
                        <img src="../assets/Client/images/pay1.png" alt="">
                    </li>
                    <li>
                        <img src="../assets/Client/images/pay4.png" alt="">
                    </li>
                    <li>
                        <img src="../assets/Client/images/pay6.png" alt="">
                    </li>
                    <li>
                        <img src="../assets/Client/images/pay3.png" alt="">
                    </li>
                    <li>
                        <img src="../assets/Client/images/pay7.png" alt="">
                    </li>
                    <li>
                        <img src="../assets/Client/images/pay8.png" alt="">
                    </li>
                    <li>
                        <img src="../assets/Client/images/pay9.png" alt="">
                    </li>
                </ul>
            </div>
            <!-- //payment -->
        </div>
        <!-- //footer fourth section (text) -->
    </div>
</footer>
<!-- //footer -->
<!-- copyright -->
<div class="copy-right">
    <div class="container">
        <p>Design by LeVanLong - UTEHY</p>
    </div>
</div>