 

<nav class="main-menu">
    <ul>
        <li>
            <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active">
                <i class="fa fa-home nav_icon"></i>
                <span class="nav-text">
                Dashboard
                </span>
            </a>
        </li>
        <li class="has-subnav">
            <a href="javascript:;">
            <i class="fa fa-cogs" aria-hidden="true"></i>
            <span class="nav-text">
                Sản phẩm
            </span>
            <i class="icon-angle-right"></i><i class="icon-angle-down"></i>
            </a>
            <ul>
                <li>
                <a class="subnav-text" [routerLink]="['/product']" routerLinkActive="router-link-active">
                Danh sách sản phẩm
                </a>
                </li>
                <li>
                <a class="subnav-text" [routerLink]="['/product-type']" routerLinkActive="router-link-active">
                Loại sản phẩm
                </a>
                </li>
            </ul>
        </li>
        <li class="has-subnav">
            <a href="javascript:;">
            <i class="fa fa-file-text-o nav_icon"></i>
            <span class="nav-text">
            Tin tức
            </span>
            <i class="icon-angle-right"></i><i class="icon-angle-down"></i>
            </a>
            <ul>
                <li>
                    <a class="subnav-text" [routerLink]="['/admin-news']" routerLinkActive="router-link-active">Danh sách tin tức</a>
                </li>
                <li>
                    <a class="subnav-text" [routerLink]="['/news-type']" routerLinkActive="router-link-active">Loại tin</a>
                </li>
            </ul>
        </li>
        <li class="has-subnav">
            <a href="javascript:;">
                <i class="fa fa-check-square-o nav_icon"></i>
                    <span class="nav-text">Người dùng</span>
                <i class="icon-angle-right"></i><i class="icon-angle-down"></i>
            </a>
            <ul>
                <li>
                    <a class="subnav-text" [routerLink]="['/admin-user']" routerLinkActive="router-link-active">
                        Danh sách
                    </a>
                </li>
                <li>
                    <a class="subnav-text" [routerLink]="['/role-master']" routerLinkActive="router-link-active">
                        Quyền người dùng
                    </a>
                </li>
            </ul>
        </li>
        <li class="has-subnav">
            <a href="javascript:;">
                <i class="fa fa-list-ul" aria-hidden="true"></i>
                    <span class="nav-text">Các tác vụ khác</span>
                <i class="icon-angle-right"></i><i class="icon-angle-down"></i>
            </a>
            <ul>
                <li>
                    <a class="subnav-text" [routerLink]="['/category']" routerLinkActive="router-link-active">
                        Danh mục
                    </a>
                </li>
                <li>
                    <a class="subnav-text" [routerLink]="['/contact']" routerLinkActive="router-link-active">
                        Liên hệ
                    </a>
                </li>
                <li>
                    <a class="subnav-text" [routerLink]="['/producer']" routerLinkActive="router-link-active">
                        Nhà sản xuất
                    </a>
                </li>
                <li>
                    <a class="subnav-text" [routerLink]="['/introduction']" routerLinkActive="router-link-active">
                        Giới thiệu
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a [routerLink]="['/admin-order']" routerLinkActive="router-link-active">
                <i class="icon-table nav-icon"></i>
                <span class="nav-text">
                 Đơn hàng
                </span>
            </a>
        </li>
        <!-- <li>
            <a href="charts.html">
                <i class="fa fa-bar-chart nav_icon"></i>
                <span class="nav-text">
                    Charts
                </span>
            </a>
        </li>
        <li>
            <a href="typography.html">
                <i class="icon-font nav-icon"></i>
                <span class="nav-text">
                Typography
                </span>
            </a>
        </li>
        <li>
            <a href="tables.html">
                <i class="icon-table nav-icon"></i>
                <span class="nav-text">
                Tables
                </span>
            </a>
        </li>
        <li>
            <a href="maps.html">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span class="nav-text">
                Maps
                </span>
            </a>
        </li>
        <li>
            <a href="error.html">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                <span class="nav-text">
                Error Page
                </span>
            </a>
        </li>
        <li class="has-subnav">
            <a href="javascript:;">
                <i class="fa fa-list-ul" aria-hidden="true"></i>
                <span class="nav-text">Extras</span>
                <i class="icon-angle-right"></i><i class="icon-angle-down"></i>
            </a>
            <ul>
                <li>
                    <a class="subnav-text" href="faq.html">FAQ</a>
                </li>
                <li>
                    <a class="subnav-text" href="blank.html">Blank Page</a>
                </li>
            </ul>
        </li> -->
    </ul>
    <ul class="logout">
        <li>
        <a (click)="logout()">
        <i class="icon-off nav-icon"></i>
        <span class="nav-text">
        Logout
        </span>
        </a>
        </li>
    </ul>
</nav>