<!-- top-header -->
<section style="margin-left: -4.4%;" class="wrapper scrollable">
    <app-header></app-header>
    <!-- banner-2 -->
	<div class="page-head_agile_info_w3l">

	</div>
	<!-- //banner-2 -->
	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a>Trang chủ</a>
						<i>|</i>
					</li>
					<li>Liên hệ</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->
	<!-- contact page -->
	<div class="contact-w3l">
		<div class="container">
			<!-- tittle heading -->
			<h3 class="tittle-w3l">Liên hệ với chúng tôi
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>
			<!-- //tittle heading -->
			<!-- contact -->
			<div class="contact agileits">
				<div class="contact-agileinfo">
					<div class="contact-form wthree">
						<!-- <form #PostForm="ngForm" (ngSubmit)="SaveForm(PostForm.values)"> -->
							<div class="">
								<input type="text" name="create_by" placeholder="Họ tên" [(ngModel)]="create_by">
							</div>
							<div class="">
								<input class="text" type="text" name="subject" placeholder="Chủ đề" [(ngModel)]="subject">
							</div>
							<div class="">
								<input class="email" type="text" name="email" placeholder="Email" [(ngModel)]="email">
							</div>
							<div class="">
								<textarea placeholder="Nội dung phản ánh" name="message" [(ngModel)]="message"></textarea>
							</div>
                            <div class="">
								<textarea placeholder="Ý kiến đóng góp" name="message1" [(ngModel)]="message1"></textarea>
							</div>
							<button class="btn btn-success" (click)="contact()">Gửi tin</button>
						<!-- </form> -->
					</div>
					<div class="contact-right wthree">
						<div class="col-xs-7 contact-text w3-agileits">
							<h4>Liên lạc :</h4>
							<p>
								<i class="fa fa-map-marker"></i> Làng nghề gốm Bát Tràng, Gia Lâm, Hà Nội, Việt Nam.</p>
							<p>
								<i class="fa fa-phone"></i> Điện thoại : 0321 3523 987</p>
							<p>
								<i class="fa fa-fax"></i> Di động : 0987 654 321</p>
							<p>
								<i class="fa fa-envelope-o"></i> Email :
								<a href="mailto:example@mail.com">tinhhoagomviet@gmail.com</a>
							</p>
						</div>
						<div class="col-xs-5 contact-agile">
							<img src="images/contact2.jpg" alt="">
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<!-- //contact -->
		</div>
	</div>
	<!-- map -->
	<div class="map w3layouts">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55565170.29301636!2d-132.08532758867793!3d31.786060306224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sin!4v1512365940398"
		    allowfullscreen></iframe>
	</div>
	<!-- //map -->
    <!-- //special offers -->
    <!-- newsletter -->
    <app-newsletter></app-newsletter>
    <!-- //newsletter -->
    <!-- footer -->
    <app-footer></app-footer>
</section>
<!-- //copyright -->

<!-- js-files -->
<!-- jquery -->
<!-- <script src="../assets/Client/js/jquery-2.1.4.min.js"></script> -->
<!-- //jquery -->

<!-- popup modal (for signin & signup)-->
<!-- <script src="js/jquery.magnific-popup.js"></script> -->
<!-- <script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

    });
</script> -->
<!-- Large modal -->
<!-- <script>
    $('#').modal('show');
</script> -->
<!-- //popup modal (for signin & signup)-->

<!-- cart-js -->
<script src="./assets/Client/js/minicart.js"></script>
<script>
    paypalm.minicartk.render(); //use only unique class names other than paypalm.minicartk.Also Replace same class name in css and minicart.min.js

    paypalm.minicartk.cart.on('checkout', function (evt) {
        var items = this.items(),
            len = items.length,
            total = 0,
            i;

        // Count the number of each item in the cart
        for (i = 0; i < len; i++) {
            total += items[i].get('quantity');
        }

        if (total < 3) {
            alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
            evt.preventDefault();
        }
    });
</script>
<!-- //cart-js -->

<!-- price range (top products) -->
<!-- <script src="js/jquery-ui.js"></script> -->
<!-- <script>
    $(window).load(function () {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 9000,
            values: [50, 6000],
            slide: function (event, ui) {
                $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
            }
        });
        $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

    }); 
</script> -->
<!-- //price range (top products) -->

<!-- flexisel (for special offers) -->
<!-- <script src="js/jquery.flexisel.js"></script>
<script>
    $(window).load(function () {
        $("#flexiselDemo1").flexisel({
            visibleItems: 3,
            animationSpeed: 1000,
            autoPlay: true,
            autoPlaySpeed: 3000,
            pauseOnHover: true,
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
                portrait: {
                    changePoint: 480,
                    visibleItems: 1
                },
                landscape: {
                    changePoint: 640,
                    visibleItems: 2
                },
                tablet: {
                    changePoint: 768,
                    visibleItems: 2
                }
            }
        });

    });
</script> -->
<!-- //flexisel (for special offers) -->

<!-- password-script -->
<!-- <script>
    window.onload = function () {
        document.getElementById("password1").onchange = validatePassword;
        document.getElementById("password2").onchange = validatePassword;
    }

    function validatePassword() {
        var pass2 = document.getElementById("password2").value;
        var pass1 = document.getElementById("password1").value;
        if (pass1 != pass2)
            document.getElementById("password2").setCustomValidity("Passwords Don't Match");
        else
            document.getElementById("password2").setCustomValidity('');
        //empty string means no validation error
    }
</script> -->
<!-- //password-script -->

<!-- smoothscroll -->
<!-- <script src="js/SmoothScroll.min.js"></script> -->
<!-- //smoothscroll -->

<!-- start-smooth-scrolling -->
<!-- <script src="js/move-top.js"></script>
<script src="js/easing.js"></script>
<script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();

            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });
</script> -->
<!-- //end-smooth-scrolling -->

<!-- smooth-scrolling-of-move-up -->
<!-- <script>
    $(document).ready(function () {
       
        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
</script> -->
<!-- //smooth-scrolling-of-move-up -->

<!-- for bootstrap working -->
<!-- <script src="js/bootstrap.js"></script> -->
<!-- //for bootstrap working -->
<!-- //js-files -->