<section class="w3l-form-36">
    <div class="form-36-mian-q section-gap">
        <div class="wrapper-1">
            <div class="form-inner-cont">
                <h3>Đăng nhập</h3>
                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="signin-form">
                    <div class="form-input">
                        <span class="fa fa-envelope-o" aria-hidden="true"></span> 
                        <input type="email" id="email" formControlName="email" placeholder="Email" required />
                    </div>
                    <div *ngIf="iSubmited && form.controls.email.errors">
                        <span class="text-danger" *ngIf="form.controls.email.errors.required">Chưa nhập email.</span>
                        <span class="text-danger" *ngIf="form.controls.email.errors.email">Email không đúng định dạng.</span>
                        <span class="text-danger" *ngIf="form.controls.email.errors.minlength">Email không được nhỏ hơn 8 ký tự.</span>
                        <span class="text-danger" *ngIf="form.controls.email.errors.maxlength">Email không được lớn hơn 50 ký tự.</span>
                    </div>
                    <div class="form-input">
                        <span class="fa fa-key" aria-hidden="true"></span>
                        <input type="password" placeholder="Mật khẩu"  id="password" formControlName="password" required />
                    </div>
                    <div *ngIf="iSubmited && form.controls.password.errors">
                        <div class="text-danger" *ngIf="form.controls.password.errors.required">Chưa nhập mật khẩu.</div>
                        <div class="text-danger" *ngIf="form.controls.password.errors.minlength">Mật khẩu không được dưới 8 ký tự.</div>
                        <div class="text-danger" *ngIf="form.controls.password.errors.maxlength">Mật khẩu không được trên 50 ký tự.</div>
                        <div class="text-danger" *ngIf="form.controls.password.errors.pattern">Mật khẩu không đúng định dạng.</div>
                      </div>
                    <div class="login-remember d-grid">
                        <label class="check-remaind">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            <p class="remember">Nhớ tôi</p>
                        </label>
                        <button class="btn1 theme-button-1">ĐĂNG NHẬP</button>
                    </div>
                    <div class="new-signup">
                        <a href="#reload" class="signuplink">Quên mật khẩu?</a>
                    </div>
                </form>
                <div class="social-icons">
                    <p class="continue"><span>Or</span></p>
                    <div class="social-login">
                        <a href="#facebook">
                            <div class="facebook">
                                <span class="fa fa-facebook" aria-hidden="true"></span>
                            </div>
                        </a>
                        <a href="#google">
                            <div class="google">
                                <span class="fa fa-google-plus" aria-hidden="true"></span>
                            </div>
                        </a>
                    </div>
                </div>
                <a [routerLink]="['/home']" routerLinkActive="router-link-active" style="color: red;">Trở lại trang chủ >>></a>
            </div>
        </div>
    </div>
</section>